/* Info container: constrain width and left-align content/lists */
.info-container {
    max-width: 720px;
    margin: 0 auto;
    text-align: left;
    padding: 0 1rem;
}

.info-container ul {
    margin-top: 0.5rem;
    padding-left: 1.25rem;
    text-align: left;
    list-style-position: outside;
}
